@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  font-size: 10px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
}

.title-label {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .title-label {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .title-label {
    font-size: 3rem;
  }
}

.title {
  font-family: "Seymour One", sans-serif;
  font-size: 3rem;
  line-height: 1.27;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 3.6rem;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.gallery-reviews-wrapper {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1070.26px;
}
@media screen and (max-width: 320px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 24px, transparent 24px), url("../images/customer-reviews/mb-bg@1x.png");
  }
}
@media screen and (max-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 320px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 24px, transparent 24px), url("../images/customer-reviews/mb-bg@2x.png");
  }
}
@media screen and (min-width: 321px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 24px, transparent 24px), url("../images/customer-reviews/tb-bg@1x.png");
    background-size: cover;
  }
}
@media screen and (min-width: 321px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 24px, transparent 24px), url("../images/customer-reviews/tb-bg@2x.png");
  }
}
@media screen and (width: 768px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 164px, transparent 164px), url("../images/customer-reviews/tb-bg@1x.png");
    background-size: contain;
    min-height: 1122px;
  }
}
@media screen and (width: 768px) and (min-device-pixel-ratio: 2), screen and (width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (width: 768px) and (min-resolution: 192dpi), screen and (width: 768px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 164px, transparent 164px), url("../images/customer-reviews/tb-bg@2x.png");
  }
}
@media screen and (min-width: 769px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 164px, transparent 164px), url("../images/customer-reviews/dt-bg@1x.png");
    background-size: cover;
    min-height: 1122px;
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 164px, transparent 164px), url("../images/customer-reviews/dt-bg@2x.png");
  }
}
@media screen and (width: 1200px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 95px, transparent 95px), url("../images/customer-reviews/dt-bg@1x.png");
    background-size: contain;
    min-height: 1110px;
  }
}
@media screen and (width: 1200px) and (min-device-pixel-ratio: 2), screen and (width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (width: 1200px) and (min-resolution: 192dpi), screen and (width: 1200px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 95px, transparent 95px), url("../images/customer-reviews/dt-bg@2x.png");
  }
}
@media screen and (min-width: 1201px) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 95px, transparent 95px), url("../images/customer-reviews/screen-bg@1x.png");
    background-size: cover;
    min-height: 1110px;
  }
}
@media screen and (min-width: 1201px) and (min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1201px) and (min-resolution: 192dpi), screen and (min-width: 1201px) and (min-resolution: 2dppx) {
  .gallery-reviews-wrapper {
    background-image: linear-gradient(to bottom, #84A278, #84A278 95px, transparent 95px), url("../images/customer-reviews/screen-bg@2x.png");
  }
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.29;
  color: #131313;
  border: 2px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
}

.btn--border {
  border-color: #F8D24E;
  background-color: transparent;
}
.btn--border:hover {
  border-color: #0A8817;
}
.btn--border:focus {
  color: #FCFCFC;
  border-color: #0A8817;
}
.btn--border:disabled {
  border-color: #ABABAB;
}

.btn--primary {
  background-color: #F8D24E;
}
.btn--primary:hover {
  background-color: #0A8817;
}
.btn--primary:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}
.btn--primary:disabled {
  background-color: #ABABAB;
}

.gallery__list {
  position: relative;
  border-radius: 7.5px;
  overflow: hidden;
  background-color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__list {
    max-width: 1013px;
    margin: 0 auto;
    border-radius: 24px;
  }
}

.gallery__item:nth-child(n+2) {
  position: absolute;
  top: 0;
}

@-webkit-keyframes gallery {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gallery {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.gallery__item {
  -webkit-animation-name: gallery;
          animation-name: gallery;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.gallery__item:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.gallery__item:first-child {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.customer-reviews {
  padding-top: 80px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 128px;
  }
}

.avatar-container {
  width: 85px;
  height: 85px;
  margin: 0 auto 32px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .avatar-container {
    margin-bottom: 28px;
  }
}

.customer-reviews__item {
  display: flex;
  flex-direction: column;
}

.customer-reviews__avatar {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.customer-reviews__review {
  min-width: 280px;
  padding: 34px 39px;
  margin: 0 auto 30px;
  flex-grow: 1;
  font-size: 12px;
  line-height: 2.55;
  color: #FCFCFC;
  background-color: #84A278;
  border-radius: 1rem;
}
@media screen and (min-width: 768px) {
  .customer-reviews__review {
    padding: 29px 80px;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    border-radius: 2.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__review {
    width: 968px;
    padding: 39px 109px;
    font-size: 16px;
  }
}

.customer-reviews__meta {
  margin-bottom: 14px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .customer-reviews__meta {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
}

.customer-reviews__pagination {
  position: static;
  display: flex;
  justify-content: center;
  gap: 14px;
}
.customer-reviews__pagination span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #84A278;
}

.swiper-slide {
  height: auto;
}

.contacts {
  position: relative;
  padding-top: 1028px;
  padding-bottom: 40px;
  background-color: #84A278;
}
@media screen and (min-width: 320px) {
  .contacts {
    padding-top: 962px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 40px;
    padding-top: 284px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 120px;
    padding-top: 478px;
  }
}

.contacts__list {
  position: absolute;
  top: -345px;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .contacts__list {
    top: -304px;
    flex-direction: row;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    top: -124px;
    gap: 32px;
  }
}

.contacts__item {
  padding: 40px 32px 40px 32px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.86;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 320px) {
  .contacts__item {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    width: 224px;
    padding: 40px 24px 44px 24px;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    width: 368px;
    padding: 40px 40px 32px 40px;
    font-size: 1.6rem;
  }
}

.contacts__category {
  max-height: 16px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #F8D24E;
}
@media screen and (min-width: 768px) {
  .contacts__category {
    margin-bottom: 32px;
    font-size: 1.6rem;
    max-height: 28px;
  }
}

.contacts__category-cafe {
  max-width: 80px;
}
@media screen and (min-width: 768px) {
  .contacts__category-cafe {
    max-width: 73px;
  }
}

.contacts__category-food-truck {
  max-width: 130px;
}
@media screen and (min-width: 768px) {
  .contacts__category-food-truck {
    max-width: 138px;
  }
}

.contacts__address {
  margin-bottom: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__address {
    padding-bottom: 18px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    padding-bottom: 23px;
  }
}
.contacts__address > span {
  margin-top: 8px;
  display: block;
  color: #D6936D;
  line-height: 1.83;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__address > span {
    margin-top: 12px;
    line-height: 1.87;
  }
}
.contacts__address > span:hover, .contacts__address > span:focus {
  text-decoration: underline;
}

.contacts__item:first-of-type > .contacts__address > span {
  max-width: 192px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:first-of-type > .contacts__address > span {
    max-width: 262px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:nth-of-type(2) > .contacts__address > span {
    max-width: 158px;
  }
}

.contacts__item:nth-of-type(3) > .contacts__address > span {
  max-width: 185px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:nth-of-type(3) > .contacts__address > span {
    max-width: 261px;
  }
}

.contacts__work-time {
  margin-bottom: 8px;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .contacts__work-time {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__work-time {
    margin-bottom: 13px;
    letter-spacing: 0.04em;
  }
}
.contacts__work-time:nth-last-of-type(1) {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__work-time:nth-last-of-type(1) {
    margin-bottom: 33px;
    padding-bottom: 33px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__work-time:nth-last-of-type(1) {
    margin-bottom: 31px;
    padding-bottom: 31px;
  }
}
.contacts__work-time > span {
  display: block;
  color: #ABABAB;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__work-time > span {
    line-height: 1.5;
  }
}

.contacts__email,
.contacts__tel {
  display: block;
  line-height: 1.5;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .contacts__email,
.contacts__tel {
    line-height: 1.83;
  }
}

.contacts__btn-list {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__btn-list {
    flex-direction: row;
  }
}

.contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 196px;
}

.contacts_btn-icon {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .contacts_btn-icon {
    margin-left: 6px;
  }
}

.footer {
  background-color: #84A278;
  padding-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 10px;
  }
}

.footer__container {
  padding: 0 20px 39px 20px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 0 32px 31px 32px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    padding: 0 16px 53px 16px;
    font-size: 5.8rem;
    line-height: 1.22;
  }
}

.footer__title {
  max-width: 260px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.22;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #FCFCFC;
}
@media screen and (min-width: 768px) {
  .footer__title {
    max-width: 352px;
    font-size: 2.6rem;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    max-width: none;
    font-weight: 400;
    font-size: 3rem;
  }
}
.footer__title > span {
  margin-top: 14px;
  display: block;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 1.21;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .footer__title > span {
    margin-top: 2px;
    font-size: 4.8rem;
    line-height: 1.23;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title > span {
    margin-top: 14px;
    font-size: 5.8rem;
    line-height: 1.22;
  }
}

.footer__social-list {
  margin-bottom: 38px;
  display: flex;
  justify-content: flex-end;
  gap: 29px;
}
@media screen and (min-width: 768px) {
  .footer__social-list {
    margin-bottom: 32px;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-list {
    margin-bottom: 40px;
  }
}

.footer__social-item {
  width: 32px;
  height: 32px;
  margin-top: 36px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .footer__social-item {
    margin-top: 68px;
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social-item {
    margin-top: 12px;
  }
}

.footer__social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  color: #84A278;
}
.footer__social-link:hover, .footer__social-link:focus {
  outline: none;
  color: #FCFCFC;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  display: block;
  fill: currentColor;
  cursor: pointer;
}

.footer__contact {
  text-align: right;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.86;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    font-size: 1.6rem;
    letter-spacing: 0.02em;
  }
}
.footer__contact > .footer__contact-link {
  color: #FCFCFC;
}

.footer__container-copyright {
  position: relative;
  margin: 0 auto;
  max-width: 1168px;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .footer__container-copyright {
    padding-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container-copyright {
    padding-top: 12px;
  }
}
.footer__container-copyright::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  max-width: 1168px;
  background-color: #e1e1e1;
}

.footer__copyright {
  max-width: 165px;
  margin: 0 auto;
  text-align: center;
  color: #7A7A7A;
  font-weight: 700;
  line-height: 1.52;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    max-width: none;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=index.css.map */