<section id="advantages" class="advantages">
  <div class="container">
    <!-- Прихований заголовок -->
    <h2 class="visually-hidden">Advantages</h2>
    <!-- Список переваг -->
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-item" width="36" height="36">
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </div>
        <p class="advantages__subtitle title-label">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-item" width="36" height="36">
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </div>
        <p class="advantages__subtitle title-label">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <div class="advantages__icon">
          <svg class="advantages__icon-item" width="36" height="36">
            <use href="./images/icons.svg#icon-ice-crema"></use>
          </svg>
        </div>
        <p class="advantages__subtitle title-label">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
