<!-- У секції немає видимого заголовка. Потрібно зробити прихований заголовок для краулерів.

У секції міститься список адрес представництв компанії. Його необхідно реалізувати як сітку елементів.

Написи “Cafe” та “Food Truck” не є заголовками. Це категорії представництв.

Контактні номери телефонів та email є посиланнями. Їх необхідно реалізувати з допомогою  протоколів посилання.

Кнопки “Our Locations” та “Franchise” повинні відкривати модальне вікно з маркованою карткою (реалізація модальних вікон не є обов'язковим завданням). -->
<section>
  <div class="container"></div>
</section>
