<section id="contacts" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__address">
          Chicago
          <a
            href="https://goo.gl/maps/expSHVfVwxbLBAXM9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__address-link"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </p>
        <p class="contacts__work-time">
          Monday - Friday
          <span> 06:00 AM - 10:00 PM </span>
        </p>
        <p class="contacts__work-time">
          Saturday - Sunday
          <span> 08:00 AM - 16:00 PM </span>
        </p>
        <a href="tel:+610383766284" class="contacts__tel">
          +61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>
      </li>

      <li class="contacts__item">
        <p class="contacts__category">FOOD TRUCK</p>
        <p class="contacts__address">
          Los Angeles
          <a
            href="https://goo.gl/maps/WDneNibGNG2K6RZEA"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__address-link"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </p>
        <p class="contacts__work-time">
          Monday - Friday
          <span> 06:00 AM - 10:00 PM </span>
        </p>
        <p class="contacts__work-time">
          Saturday - Sunday
          <span> 08:00 AM - 16:00 PM </span>
        </p>
        <a href="tel:+610383766284" class="contacts__tel">
          +61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>
      </li>

      <li class="contacts__item">
        <p class="contacts__category">CAFE</p>
        <p class="contacts__address">
          New York
          <a
            href="https://goo.gl/maps/Rdy1Vwge9rxPFBJU9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__address-link"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </p>
        <p class="contacts__work-time">
          Monday - Friday
          <span> 06:00 AM - 10:00 PM </span>
        </p>
        <p class="contacts__work-time">
          Saturday - Sunday
          <span> 08:00 AM - 16:00 PM </span>
        </p>
        <a href="tel:+610383766284" class="contacts__tel">
          +61(0) 383 766 284
        </a>
        <a href="mailto:noreply@envato.com" class="contacts__email">
          noreply@envato.com
        </a>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn-item">
        <button
          type="button"
          class="btn btn--primary contacts__btn"
          data-modal-open="locations"
        >
          Our Locations
          <svg width="12" height="12" class="contacts_btn-icon">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button
          type="button"
          class="btn btn--border contacts__btn"
          data-modal-open="franchise"
        >
          Franchise
          <svg width="12" height="12" class="contacts_btn-icon">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
