<div class="backdrop is-hidden" data-modal="franchise" data-modal-backdrop>
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal__franchise-container">
      <h2 class="title modal__title modal__franchise-title">
        Thank you for your interest in owning an Ice Cream shop
      </h2>
      <p class="modal__franchise-text">
        Due to the overwhelming volume of franchise requests we are not
        accepting new franchisee applications at this time. Once the application
        process resumes, we will contact you for further information. Please
        fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
      <form class="modal-form" name="modal-form">
        <div class="modal-form__input-wrapper">
          <input
            type="text"
            class="modal-form__input"
            name="name"
            id="franchise-name"
            placeholder="&#32;"
            required
            minlength="2"
          />
          <label class="modal-form__label" for="franchise-name">Name</label>
        </div>
        <div class="modal-form__input-wrapper">
          <input
            type="tel"
            class="modal-form__input"
            name="tel"
            id="franchise-tel"
            placeholder="&#32;"
            required
            minlength="10"
          />
          <label class="modal-form__label" for="franchise-tel">Phone</label>
        </div>
        <div class="modal-form__input-wrapper">
          <input
            type="email"
            class="modal-form__input"
            name="email"
            id="franchise-email"
            placeholder="&#32;"
            required
          />
          <label class="modal-form__label" for="franchise-email">Email</label>
        </div>
        <div
          class="modal-form__input-wrapper modal-form__input-wrapper--textarea"
        >
          <textarea
            class="modal-form__input modal-form__input--textarea"
            name="modal-form__textarea"
            id="franchise-comment"
            placeholder="&#32;"
          ></textarea>
          <label class="modal-form__label" for="franchise-comment"
            >Comment</label
          >
        </div>
        <button class="btn btn--primary modal__btn" type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
