<header class="page-header" id="page-header">
  <div class="container">
    <div class="header-content">
      <a class="logo" href="index.html">
        <img
          srcset="
            ./images/header-hero/phone-logo@1x.png    40w,
            ./images/header-hero/phone-logo@2x.png    80w,
            ./images/header-hero/tablet-logo@1x.png   48w,
            ./images/header-hero/tablet-logo@2x.png   96w,
            ./images/header-hero/desktop-logo@1x.png  60w,
            ./images/header-hero/desktop-logo@2x.png 120w
          "
          sizes="(min-width: 1200px) 60px, (min-width: 768px) 48px, 40px"
          src="./images/header-hero/phone-logo@1x.png"
          alt="Site logo"
        />
      </a>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a href="#page-header" class="header-nav__link">Home</a>
          </li>
          <li class="header-nav__item">
            <a href="#about" class="header-nav__link">How it’s made?</a>
          </li>
          <li class="header-nav__item">
            <a href="#products" class="header-nav__link">Our products</a>
          </li>
          <li class="header-nav__item">
            <a href="#contacts" class="header-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header-content__buttons">
        <button
          class="burger js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="burger__icon" width="32" height="32">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button
          class="btn btn--primary btn--buy header__btn"
          type="button"
          data-modal-open
        >
          <span>Buy now</span>
          <svg class="btn__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-button-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container container--backgrounded">
    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__accent-title">passion</span>
      </h1>
      <div class="hero__buttons">
        <a href="#products" class="btn btn--bordered hero__btn">Products</a>
        <a href="#about" class="btn btn--underlined hero__btn"
          >How it’s made?
        </a>
      </div>
      <div class="hero__description">
        <img
          class="hero__plate"
          srcset="
            ./images/header-hero/desktop-plate@1x.png 225w,
            ./images/header-hero/desktop-plate@2x.png 450w,
            ./images/header-hero/tablet-plate@1x.png  152w,
            ./images/header-hero/tablet-plate@2x.png  304w
          "
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 152px"
          src="./images/header-hero/tablet-plate@1x.png"
          alt="Ice-cream plate"
        />
        <div class="hero__text-wrapper">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero__link" href="#">
            <svg class="hero__arrow" width="41" height="15">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="statistics">
        <p class="statistics__item">
          <span class="statistics__number">16</span>
          cafes
        </p>
        <p class="statistics__item">
          <span class="statistics__number">23</span>
          food trucks
        </p>
      </div>
      <div class="hero__image-wrapper">
        <img
          class="hero__img"
          srcset="
            ./images/header-hero/phone-ice-cream@1x.png   157w,
            ./images/header-hero/phone-ice-cream@2x.png   315w,
            ./images/header-hero/tablet-ice-cream@1x.png  257w,
            ./images/header-hero/tablet-ice-cream@2x.png  514w,
            ./images/header-hero/desktop-ice-cream@1x.png 447w,
            ./images/header-hero/desktop-ice-cream@2x.png 894w
          "
          sizes="(min-width: 1200px) 447px, (min-width: 768px) 257px, 157px"
          src="./images/header-hero/tablet-plate@1x.png"
          alt="Ice-cream"
        />
        <svg class="smiles" width="135" height="153">
          <use href="./images/icons.svg#icon-smiles"></use>
        </svg>
        <svg class="eye" width="22" height="25">
          <use href="./images/icons.svg#icon-eye"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="container">
    <div class="mobile-menu__header">
      <a class="logo" href="#">
        <img
          srcset="
            ./images/header-hero/phone-logo@1x.png  40w,
            ./images/header-hero/phone-logo@2x.png  80w,
            ./images/header-hero/tablet-logo@1x.png 48w,
            ./images/header-hero/tablet-logo@2x.png 96w
          "
          sizes="(min-width: 768px) 48px, 40px"
          src="./images/header-hero/phone-logo@1x.png"
          alt="Site logo"
        />
      </a>
      <button class="cross js-close-menu" type="button">
        <svg class="cross__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-nav">
      <ul class="mobile-nav__list">
        <li class="mobile-nav__item">
          <a href="#page-header" class="mobile-nav__link">Home</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#about" class="mobile-nav__link">How it’s made?</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#products" class="mobile-nav__link">Our products</a>
        </li>
        <li class="mobile-nav__item">
          <a href="#contacts" class="mobile-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn btn--primary btn--buy mobile-menu__btn" type="button">
      <span>Buy now</span>
      <svg class="btn__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>
</div>
<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="title modal__title">Buy now</h2>
    <ul class="modal-list">
      <li class="modal__item">ice cream</li>
      <li class="modal__item">ice coffee</li>
      <li class="modal__item">milkshake</li>
    </ul>
    <form class="modal-form" name="modal-form">
      <input type="text" class="modal-form__input" placeholder="Name" />
      <input type="tel" class="modal-form__input" placeholder="Phone" />
      <textarea
        class="modal-form__input modal-form__input--textarea"
        name="modal-form__textarea"
        placeholder="Comment"
      ></textarea>
      <button class="btn modal-form__button" type="submit">Submit</button>
    </form>
  </div>
</div> -->
