<div class="backdrop is-hidden" data-modal="more" data-modal-backdrop>
  <div class="modal">
    <button class="close-button" type="button" data-modal-close>
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <h2 class="title modal__title about-modal__title">How it’s made?</h2>
    <video
      class="about__video"
      src="./images/about/cow.mp4"
      poster="./images/about/cow-preview.jpg"
      controls
      preload="auto"
    ></video>
    <p class="about__video-descr">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
