<!-- “100% natural” - є лейблом заголовка і не виділяється тегом заголовка.
“products” – є заголовком секції.

Картки товарів оформити як сітку елементів.

Зображення на картках товарів є декоративними, їх необхідно реалізувати псевдо-елементами.

Назви продуктів є заголовками.

Кнопка зі стрілкою внизу картки повинна відкривати докладний опис продукту. Оскільки дизайну опису немає, це є додатковим завданням. -->
<section class="products">
  <div class="products__box container">
    
      <p class="products__pre-title title-label">100% natural</p>
      <h2 class="products__title title">products</h2>
      <ul class="products__list">
        <li class="products__item products__item--green">
          <h3 class="products__headings">ice cream</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream,
            sugar and natural stabilizer
          </p>
          <a href="" class="products__link">arrow</a>
        </li>
     
    <li class="products__item products__item--yellow">
        <h3 class="products__headings">ice coffee</h3>
        <p class="products__text">Fragrant invigorating drink 
          created from 100% natural ingredients without the use of 
          preservatives and flavor enhancers
        </p>
        <a href="" class="products__link">arrow</a>
      </li>
      <li class="products__item products__item--brown">
        <h3 class="products__headings">milkshakes</h3>
        <p class="products__text">Sweet drinks based on milk and ice cream, 
          supplemented with syrups, fruits, berries and other sweets of your choice
        </p>
        <a href="" class="products__link">arrow</a>
      </li>

    </ul>
  </div>
</section>
