.about {
  position: relative;
  padding-top: 60px;
  background-color: $accent-color;
}

.about__title-label {
  margin-bottom: 12px;
  color: $light-text-color;
}

.about__title {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 54px;
  color: $light-text-color;

  @media screen and (min-width: 768px) {
    max-width: 100%;
    margin-bottom: 80px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 121px;
  }
}

.about__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: left;
    gap: 100px;
  }
}

.about__image-wrap {
  max-width: 335px;

  @media screen and (min-width: 480px) {
    max-width: 335px;
  }

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: 500px;
    width: 500px;
  }
}

.about__image {
  box-shadow: 0 -21.82px $primary-color;
  border-radius: 1038.58px;
  width: 100%;

  @media screen and (min-width: 768px) {
    box-shadow: 0 -25.88px $primary-color;
  }

  @media screen and (min-width: 1200px) {
    box-shadow: 0 -39px $primary-color;
  }
}

.about__btn-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  gap: 20px;

  @media screen and (min-width: 480px) {
    padding-left: 0;
    padding-right: 0;
    max-width: 380px;
  }

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 32px) / 2);
    text-align: left;
    align-items: baseline;
    gap: 0;
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__paragraph {
  color: $light-text-color;
  font-size: 1.2rem;
  &:first-child {
    margin-bottom: 4px;
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 48px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 1.6rem;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  max-width: 164px;
}

.icon-button-arrow {
  margin-left: 5px;
}
