.advantages {
  padding-top: 42px;
  padding-bottom: 36px;
  background-color: $accent-color;
}

// СПИСОК
.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

// ЕЛЕМЕНТ СПИСКУ
.advantages__item {
  text-align: center;
}

// ОБГОРТКА ІКОНКИ
.advantages__icon {
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
}

// ЗАГОЛОВОК ЕЛЕМЕНТА СПИСКУ
.advantages__subtitle {
  margin-bottom: 18px;
  font-size: 36px;
  color: $light-text-color;
}

// ТЕКСТ
.advantages__text {
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: $bold-text;
  color: $light-text-color;

  @media screen and (max-width: 480px) {
    max-width: 312px;
  }
}
