.advantages {
  padding-top: 42px;
  padding-bottom: 36px;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 84px;
  }
}

// СПИСОК
.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 80px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

// ЕЛЕМЕНТ СПИСКУ
.advantages__item {
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 248px) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 64px) / 3);
  }
}

// ОБГОРТКА ІКОНКИ
.advantages__icon {
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

// ЗАГОЛОВОК ЕЛЕМЕНТА СПИСКУ
.advantages__subtitle {
  margin-bottom: 18px;
  font-size: 36px;
  color: $light-text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

// ТЕКСТ
.advantages__text {
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: $bold-text;
  color: $light-text-color;

  @media screen and (max-width: 767px) {
    max-width: 312px;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.4rem;
    font-weight: inherit;
  }

  @media screen and (min-width: 1200px) {
    max-width: 342px;
    margin: 0 auto;
  }
}
