.gallery__list{
  position: relative;
  border-radius: 7.5px;
  overflow: hidden;
  background-color: $light-text-color;

  @media screen and (min-width: $tablet-width) {
    border-radius: 18px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 1013px;
    margin: 0 auto;

    border-radius: 24px;
  }
}

.gallery__item:nth-child(n+2) {
  position: absolute;
  top: 0;
}

@keyframes gallery {
	0%{
    opacity:0;
  }
	10%{
    opacity:1;
  }
	33% {
    opacity:1;
  }
	43% {
    opacity:0;
  }
	100%{
    opacity:0;
  }
}

.gallery__item {
  animation-name: gallery;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.gallery__item:nth-child(2) {
  animation-delay: 5s;
}

.gallery__item:first-child {
  animation-delay: 10s;
}








