.gallery__list{
  position: relative;
  border-radius: 7.5px;
  overflow: hidden;
  background-color: $light-text-color;

  @media screen and (min-width: $tablet-width) {
    border-radius: 18px;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: 1013px;
    margin: 0 auto;

    border-radius: 24px;
  }
}

.gallery__item:nth-child(n+2) {
  position: absolute;
  top: 0;
}

.gallery__item {
  animation-name: gallery;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.gallery__item:nth-child(2) {
  animation-delay: 5s;
}

.gallery__item:first-child {
  animation-delay: 10s;
}

.gallery-reviews-wrapper {
  min-height: 724.2px;

  @media screen and (min-width: 320px) {
    background-image: linear-gradient(to bottom,
        $accent-color,
        $accent-color 24px,
        transparent 24px);
  }

  @media screen and (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom,
        $accent-color,
        $accent-color 164px,
        transparent 164px);
        min-height: 819px;
  }

  @media screen and (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom,
        $accent-color,
        $accent-color 95px,
        transparent 95px);
        min-height: 1011px;
  }
}








