.products {
  background-color: #ffffff;
  background-image: url(../images/products/backgr-mob-@1x.png);
  padding-top: 60px;
  padding-bottom: 60px;
  // background-repeat: repeat-y;
}
.products__pre-title {
  margin-bottom: 12px;
}
.products__title {
  margin-bottom: 148px;
}
.products__list {
  display: flex;
  flex-direction: column;
  gap: 164px;
  text-align: center;
  align-items: center;
}
.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 420px;

  border-radius: 24px;
}
.products__headings {
  font-size: 2rem;
  letter-spacing: 00.04em;
  line-height: 1.2;
  margin-bottom: 40px;
  padding-top: 123px;
}
.products__text {
  display: block;
  width: 200px;
  height: 124px;

  margin-bottom: 90px;
}
//  картинки на картці
.products__item--green {
  background-color: $ice-cream-color;
}

.products__item--green::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 201px;
  height: 200px;
  display: inline-block;
  align-content: center;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.products__item--green::after {
  content: '';
  position: absolute;
  top: -108px;
  left: 39px;
  display: inline-block;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 201px;
  height: 200px;
  background-image: url(../images/products/mob-ice-cream-1x-min.png);
  background-size: cover;
  border-radius: 50%;
}
.products__item--yellow {
  background-color: $ice-coffee-color;
}
.products__item--yellow::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 201px;
  height: 200px;
  display: inline-block;
  align-content: center;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.products__item--yellow::after {
  content: '';
  position: absolute;
  top: -108px;
  display: inline-block;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-image: url(../images/products/mob-ice-coffe-1x-min.png);
  background-size: cover;
  border-radius: 50%;
}

.products__item--brown {
  background-color: $milkshakes-color;
}
.products__item--brown::before {
  content: '';
  position: absolute;
  top: -97px;
  width: 200px;
  height: 200px;
  display: inline-block;
  align-content: center;
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.products__item--brown::after {
  content: '';
  position: absolute;
  top: -108px;
  left: 39px;
  display: inline-block;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-image: url(../images/products/mob-milkshake-1x-min.png);
  background-size: cover;
  background-color: aqua;
  border-radius: 50%;
}
